.header {
    margin: 0 0 20px 0;
    text-align: center;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    margin: auto;
    width: 600px;
}

.searchBox {
    /* width: 75%; */
    height: 25px;
    border: none;
    border-radius: 30px;
    height: 2rem;
    font-size: 1.2rem;
    flex-grow: 5;
}

.search-btn {
    background-color: cornflowerblue;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    /* width: 15%; */
    border: none;
    height: 35px;
    margin: 10px;
    border-radius: 30px;
    transition: border 0.5s ease-in-out;
}

.search-btn:hover {
    border: 2px solid cornflowerblue;
    background-color: rgb(129, 180, 232);
    color: white;
}


.loading-container {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    /* Centers vertically */
    justify-content: center;
    /* Centers horizontally */
    z-index: 1000;

}

.loading-spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

.error {
    box-sizing: border-box;
    width: fit-content;
    margin: auto;
    color: red;
    font-weight: 600;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}